* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}

form {
	padding: 50px 20px;
	background-color: #ededed;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}

h1 {
	text-align: center;
	padding: 12px;
	color: #444
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}

.button-59 {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-59:focus {
    color: #171e29;
  }
  
  .button-59:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  .button-59:active {
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    fill: rgb(255, 0, 0);
  }
  
  @media (min-width: 768px) {
    .button-59 {
      min-width: 170px;
    }
  }

  h1.En{
    color:rgb(0, 0, 0);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
    }
    
    h2.En2{
    color:rgba(41, 41, 41, 0.581);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
    }
/*
Css tabla
*/ 
table.paleBlueRows {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #FFFFFF;
    padding: 50px 20px;
    width: 350px;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
    margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
  }
  table.paleBlueRows td, table.paleBlueRows th {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
  }
  table.paleBlueRows tbody td {
    font-size: 13px;
  }
  table.paleBlueRows tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.paleBlueRows thead {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
  }
  table.paleBlueRows thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
  }
  table.paleBlueRows thead th:first-child {
    border-left: none;
  }
  
  table.paleBlueRows tfoot td {
    font-size: 14px;
  }